body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.5em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.menuPrincipal {  

  border: 15px double goldenrod;
  padding: 2.5em;
  padding-left: 3.8em;
  border-radius: 25px;
  background-color:seagreen;
  margin-top: 1.3em;
  margin-left: 25%;
  margin-right: 25%;
  font-weight: bolder;
  font-size: 1.3em;
  opacity: .7;

}

/*Estilos aplicados a la cabecera de la tabla, engloba al titulo de la tabla los margenes entre el titulo y tabla y los bordes inferior y superior
del titulo de la tabla*/
.cabeceraTabla{
  color: red;
  text-align: center;
  margin-top:1em;
  padding: .5em;
  font-size: 2em;
  font-weight: 700;
  border-top:.5px solid gray;
  border-bottom:.5px solid gray;

}
