.App {
  text-align: center;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: white;
}

/*Estilos comentados, no nos hacen falta aunque estan definidos en el documento*/
/* 
.App-Link {

  color: black;
}

.app-Link:visited {

   color: red;

} */
a{

  color: red;

}

a:visited {

  color: black;
}

a:hover {
   
  color: yellowgreen;

}

/*Aqui agregamos la animacion para el logo de REACT
en esta linea indicamos el tipo de movimiento que tiene y la duracion*/

.App-logo{
   
  animation: app-logo-vueltas infinite 10s linear; /*Esta linea invoca a las posiciones creadas abajo y genera la animacion*/

}



/* Difinimos posiciones, rotaciones en la linea de tiempo*/
@keyframes app-logo-vueltas {
  from {
    transform: rotate(0deg);
  }
  to{
    transform: rotate(180deg);
  }
}
